.bg {
  height: 100vh;
  background-image: url('../public/img/ive/bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}


.card {
  background-color: #fff;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: 350px;
  height: 200px;
}
/* eunha balon chat/tag */
.gel {
  position: relative;
  width: 50px;
  border-radius: 4px;
  padding: 5px;
  background: rgba(56,56,56,0.928);
  color: #fff;
  font-size: 10px;
  margin-top: -120px;
  margin-left: 10px;
}
.gel:after {
  position: absolute;
  content: '';
  display: block;
  position: absolute;
  bottom: 23px;
  left: 18px;
  border-bottom: solid 11px rgba(56,56,56,0.928);
  border-left: solid 9px transparent;
  border-right: solid 9px transparent;
}
.jin{
  position: relative;
  width: 50px;
  border-radius: 4px;
  padding: 5px;
  background: rgba(56,56,56,0.928);
  color: #fff;
  font-size: 10px;
  margin-top: -100px;
  margin-left: 160px;
}
.jin:after {
  position: absolute;
  content: '';
  display: block;
  position: absolute;
  bottom: 23px;
  left: 18px;
  border-bottom: solid 11px rgba(56,56,56,0.928);
  border-left: solid 9px transparent;
  border-right: solid 9px transparent;
}

.le {
  position: relative;
  width: 50px;
  border-radius: 4px;
  padding: 5px;
  background: rgba(56,56,56,0.928);
  color: #fff;
  font-size: 10px;
  margin-top: 140px;
  margin-left: 80px;
}
.le:after {
  position: absolute;
  content: '';
  display: block;
  position: absolute;
  bottom: 23px;
  left: 18px;
  border-bottom: solid 11px rgba(56,56,56,0.928);
  border-left: solid 9px transparent;
  border-right: solid 9px transparent;
}


.won {
  position: relative;
  width: 60px;
  border-radius: 4px;
  padding: 5px;
  background: rgba(56,56,56,0.928);
  color: #fff;
  font-size: 10px;
  margin-top: -100px;
  margin-left: 60px;
}
.won:after {
  position: absolute;
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 17px;
  border-top: solid 11px rgba(56,56,56,0.928);
  border-left: solid 9px transparent;
  border-right: solid 9px transparent;
}
.rei {
  position: relative;
  width: 60px;
  border-radius: 4px;
  padding: 5px;
  background: rgba(56,56,56,0.928);
  color: #fff;
  font-size: 10px;
  margin-top: -110px;
  margin-left: 230px;
}
.rei:after {
  position: absolute;
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 17px;
  border-top: solid 11px rgba(56,56,56,0.928);
  border-left: solid 9px transparent;
  border-right: solid 9px transparent;
}
.liz {
  position: relative;
  width: 60px;
  border-radius: 4px;
  padding: 5px;
  background: rgba(56,56,56,0.928);
  color: #fff;
  font-size: 10px;
  margin-top: 100px;
  margin-left: 270px;
}
.liz:after {
  position: absolute;
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 17px;
  border-top: solid 11px rgba(56,56,56,0.928);
  border-left: solid 9px transparent;
  border-right: solid 9px transparent;
}
